<div class="search-container">
  <div class="search-header">
    <%= render partial: "components/search_form" %>
  </div>

  <% if @repositories.any? %>
    <div class="repositories-container">
      <% @repositories.each do |repository| %>
        <div class="repository">
          <div class="repository-info">
            <div class="repository-name">
              <%= link_to "#{repository.owner}/#{repository.name}", repository.url %>
            </div>
            <div class="repository-description">
              <%= repository.description %>
            </div>
          </div>
          <div class="repository-stars">
            <%= repository.stars %>☆
          </div>
        </div>
      <% end %>
    </div>
    <div class="pagination">
      <%= will_paginate @repositories %>
    </div>
  <% else %>
    <div class="no-repositories">
      <h2><%= t("search.no_content") %></h2>
    </div>
  <% end %>
</div>
